{% load static %}
<header class="site-header-two site-header-two__home-four">
    <nav class="main-nav__two stricky">
        <div class="container-fluid">
            <div class="main-nav__logo-box">
                <a href="/">
                    <img src="{% static 'images/s_h_logo.jpeg' %}" alt="" style="width: 50px">
                </a>
            </div><!-- /.main-nav__logo-box -->
            <div class="main-nav__main-navigation">
                <ul class=" main-nav__navigation-box">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/#about_us">Rreth Nesh</a>
                    </li>
                    <li>
                        <a href="/services/">Shërbime</a>
                    </li>
                    <li>
                        <a href="/contact/">Kontakt</a>
                    </li>
                </ul>
            </div><!-- /.main-nav__main-navigation -->
            <div class="main-nav__right">
                <a href="#" class="side-menu__toggler"><span></span></a>
            </div><!-- /.main-nav__right -->
        </div><!-- /.container-fluid -->
    </nav><!-- /.main-nav__one -->

</header><!-- /.site-header-one -->