{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/s_h_logo.jpeg' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/s_h_logo.jpeg' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/s_h_logo.jpeg' %}">
    <link rel="manifest" href="{% static 'images/s_h_logo.jpeg' %}">

    <!-- plugin scripts -->

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,500,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/gilroy-extrabold.css" %}">
    <link rel="stylesheet" href="{% static "css/gilroy-light.css" %}">
    <link rel="stylesheet" href="{% static "css/gilroy-semibold.css" %}">
    <link rel="stylesheet" href="{% static "css/gilroy-bold.css" %}">

    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.min.css" %}">

    <!-- template styles -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/responsive.css" %}">
    <link rel="stylesheet" href="{% static "css/color-4.css" %}">

</head>