{% load static %}
<header class="site-header-two site-header-two__home-four">
    <nav class="main-nav__two stricky">
        <div class="container-fluid">
            <div class="main-nav__logo-box">
                <a href="/">
                    <img src="{% static 'images/s_h_logo.png' %}" alt="" style="width: 75px; margin-left: 10px">
                </a>
            </div><!-- /.main-nav__logo-box -->
            <div class="main-nav__main-navigation">
                <ul class=" main-nav__navigation-box">
                    <li>
                        <a href="/" class="{% if request.get_full_path == '/'  %}active{% endif %}">Home</a>
                    </li>
                    <li>
                        <a href="/#about_us" class="{% if request.get_full_path == '/#about_us/'  %}
                        active{% endif %}">Rreth Nesh</a>
                    </li>
                    <li>
                        <a href="/services/" class="{% if request.get_full_path == '/services/'%}
                        active{% endif %}">Shërbime</a>
                    </li>
                    <li>
                        <a href="/contact/" class="{% if request.get_full_path == '/contact/'%}active{% endif %}">Kontakt</a>
                    </li>
                </ul>
            </div><!-- /.main-nav__main-navigation -->
            <div class="main-nav__right">
                <a href="#" class="side-menu__toggler"><span></span></a>
            </div><!-- /.main-nav__right -->
        </div><!-- /.container-fluid -->
    </nav><!-- /.main-nav__one -->

</header><!-- /.site-header-one -->