{% load static %}
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <div class="side-menu__block">


        <div class="side-menu__block-overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.side-menu__block-overlay -->
        <div class="side-menu__block-inner ">
            <div class="side-menu__top justify-content-end">

                <a href="#" class="side-menu__toggler side-menu__close-btn"><img src="{% static 'images/close-1-1.png' %}" alt=""></a>
            </div><!-- /.side-menu__top -->


            <nav class="mobile-nav__container">
                <!-- content is loading via js -->
            </nav>
            <div class="side-menu__sep"></div><!-- /.side-menu__sep -->
            <div class="side-menu__content">
                <p>{{ side_menu1.text }}</p>
                <p><a href = "mailto:{{ footer1.email }}?subject = Feedback&body = Message">{{ footer1.email }}</a> <br> <a href="tel:{{ footer1.tel_one }}">{{ footer1.tel_one }}</a><br>
                    <a href="tel:{{ footer1.tel_two }}">{{ footer1.tel_two }}</a></p>
            </div><!-- /.side-menu__content -->
        </div><!-- /.side-menu__block-inner -->
    </div><!-- /.side-menu__block -->